.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 10;
  border-radius: 2px;
  margin: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  min-height: 300px;
  overflow: scroll;
  padding: 2em;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 300px;
}

.buttonWrapper {
  display: inline-block;
}

.button {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: solid 1px;
  padding-top: 5px;
  vertical-align: bottom;
  height: auto;
  width: auto;
}

.button:hover,
.button:focus {
  background: #f3f3f3;
}

.headlineButtonWrapper {
  display: inline-block;
}

.headlineButton {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
}

.headlineButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}

h1 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
}

.form {
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

h2 {
  text-align: center;
}

.title {
  align-self: stretch;
  padding: 5px;
  font-size: 15px;
  margin: 5px;
}
